<!DOCTYPE html>
<html>
<head>
  <title>Praetorian</title>
  <%= stylesheet_link_tag    "praetorian/application", media: "all" %>
  <%= javascript_include_tag "praetorian/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <% if flash[:notice] %>
     <br>
      <h1 class="flash notice">
        <%= flash[:notice] %>
    <% end %></h1>

    <% if flash[:alert] %>
     <br>
    <h1 class="flash alert">
      <%= flash[:alert] %>
  <% end %></h1>

    <%= render "layouts/praetorian/header" %>
    <br>
    <br>
    <%= yield %>
	
    <%= render "layouts/praetorian/footer" %>

</body>
</html>
